
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Study Abroad App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("UWYO Degree Programs", "Index", "Majors")</li>
                <li>@Html.ActionLink("Exchange Programs", "Index", "Schools")</li>
                <li>@Html.ActionLink("Announcements", "Index", "Posts")</li>
                <li>@Html.ActionLink("Download UW Abroad", "Downloads", "Home")</li>
            </ul>
        </div>
    </div>
</div>